{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/index.css">
<script src="/static/download.js"></script>
<title>RecoverPlaysTV.Video</title>
{% endblock %}

{% block content %}
<div class="textInput">
    <p class="title">RecoverPlaysTV.Video</p> 
    <p>Recover your deleted PlaysTV videos</p>
    <input type="text" id="username" class="form-control" autofocus="autofocus" placeholder="PlaysTV Username">
    <br>
    <input id="searchButton" type="submit" class="btn btn-info" onclick="clicked()" value="Search">
    <button id="downloadButton" disabled="true" class="btn" onclick="download()"><i class="fa fa-download"></i> Download</button>
    <br>
    <div id="showLoading"></div>
    <div id="stat"></div>
    <br>
    <br>
    <br>
    <p>Did RecoverPlaysTV.Video help you?</p>
    <p>RecoverMy.Video is free of charge.</p> 
    <p>Your donation will contribute to keep the servers running!</p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
        <input type="hidden" name="cmd" value="_donations" />
        <input type="hidden" name="business" value="pankeelshahs@gmail.com" />
        <input type="hidden" name="currency_code" value="USD" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>
</div>
{% endblock %}

{% block footer %}

{% endblock %}