{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/index.css">
<script src="/static/download.js"></script>
<title>RecoverPlaysTV</title>
{% endblock %}

{% block content %}
<div class="textInput">
    <p class="title">RecoverPlaysTV(site does not work if you have more than about 20 vids, working on fix rn</p> 
    <p>Recover your deleted PlaysTV videos</p>
    <input type="text" id="username" class="form-control" autofocus="autofocus" placeholder="PlaysTV Username">
    <br>
    <input id="searchButton" type="submit" class="btn btn-info" onclick="clicked()" value="Search">
    <button id="downloadButton" disabled="true" class="btn" onclick="download()"><i class="fa fa-download"></i> Download</button>
    <br>
    <br>
    <div id="showLoading"></div>
    <div id="stat"></div>
    <br>
    <br>
    <br>
    <a href="/guide" target="_blank"> 
        <p>Want to know how it works?</p>
    </a>
    <p>Did RecoverPlaysTV help you?</p>
    <p>RecoverPlaysTV is free of charge.</p>
    <p>Your donation will contribute to keep the servers running!</p>
    <form action="//www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
        <input type="hidden" name="cmd" value="_donations" />
        <input type="hidden" name="business" value="pankeelshahs@gmail.com" />
        <input type="hidden" name="currency_code" value="USD" />
        <input type="image" src="//www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    </form>
</div>
{% endblock %}

{% block footer %}

{% endblock %}
